src/main/mule/indigoAirlines.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="57eec465-9d66-4ec9-a98f-5dee0f7da178" >
		<http:request-connection host="indigo-services.us-e2.cloudhub.io" port="80" />
	</http:request-config>
	<flow name="indigoAirlinesFlow" doc:id="324e2f85-02c5-4c51-b852-2a8e432c6b73" >
		<logger level="INFO" doc:name="Logger" doc:id="0da0f3e8-dd4d-4422-a0ab-1992985b17ed" message="Request recieved ...............#[attributes]"/>
		<http:request method="GET" doc:name="Request" doc:id="eabb3321-3ef9-4c78-bb0d-87070bd53722" config-ref="HTTP_Request_configuration" path="/api/getFlights">
			<http:query-params ><![CDATA[#[output application/java
---
{
	from : attributes.queryParams.source,
	to : attributes.queryParams.destination,
	depatureDate : attributes.queryParams.doj
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="aad30402-d848-4ea7-9475-d681ef53b0c6" message="Response from Terget System.............#[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5f8d808e-4003-4dda-a6b8-ed14e6f1c85f" >
				<ee:transform doc:name="Transform Message" doc:id="75fab10f-2fa5-4c2c-95f5-f486c5bf6585" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	StatusCode:500,
	Message:"This server is not available"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
